:root{

    --dark-grey:#5d6164;
    --light-grey:#bdbcc1;
    --padrao-min:90rem
}

body {
    background-color: #5d6164;
    overflow-x: hidden;
}

/*global------------------------------------------------------------*/
*{
    text-decoration: none;
    padding: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

/*header---------------------------------------------*/ 

header #logo{
    background-color:  var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 6rem;

    color: white;
    font-size: 22px;

    min-width: var(--padrao-min);
    padding: 0px 40px;

}

header #search{
    display: flex;

    height: 30px;

    border: none;
    margin-right: 50px;
}

header #search input{

    border: none;
    border-radius: 5px;
    margin-left: 5px;
}


/*contact ---------------------------------------------------------*/

#first-buttons{

    background-color: #333333;
    
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#first-buttons a{
    
    color: white;

    font-size: 18px;
    font-weight: bold;

   
}

/*titles-------------------------------------------------------*/

#first-title{
    text-align: center;
    
    font-size: 60px;
    color: #fff;
    margin-top: 2rem;
}

/*images------------------------------------------------------------*/
#images{

    margin-top: 2rem;

    display: flex;
    justify-content: center;

}

#images img{

        width: 500px;
        height: 400px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
/*main---------------------------------------------------*/

main{

    min-width: var(--padrao-min);

    background-color: var(--dark-grey);

    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

    border-radius: 0.5rem;

    text-align: center;
}

main h2{

    color: white;

    font-size: 35px;

    margin-top: 2rem;
}

main p{

    font-size: 28px;

    margin-top: 2rem;

    padding: 3rem;
    color #fff;
    min-width: var(--light-grey);
}

/*description*/

#description{

    margin-top: 2rem;
    
    min-width: var(--padrao-min);

    color: #fff;
    text-align: center;
}

#description table{
    border: solid 1px #fff;
    margin-left: 25rem;
    width: 60%;
    font-size: 20px;

}

#description table td{
    border: solid 1px #fff;
}

#description h3{
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color : #fff
}



#securityConfortable-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    padding: 20px 0px;
}

#securityConfortable-container ul{
    text-align: left;
    font-size: 20px;
}

#seguranca{
    background-color: var(--light-grey);
}

#conforto{
    background-color: var(--light-grey);
}

main{
    color: #fff;
}

/*Video---------------------------------------------------------*/
iframe{
    background-color: var(--light-grey);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#botoes-rodape{
    min-width: var(--padrao-min);
    display: flex;
    text-align: center;
    background-color: var(--light-grey);
}

#botoes-rodape button{
    width: 6rem;
    height: 2rem;
    background-color:var(--light-grey);
    font-size: 20px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 30%;
}

#botoes-rodape a{
    color: black;
    opacity: 0.8;
}

#botoes-rodape a:hover{
    opacity: 1;
}


/*formulário---------------------------------------------------------------------------------------------*/

.modal/*caixa de dialogo antes de ser ativada*/
    {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed; /*Alterando posição padrão*/
        top: 0; /*preenchendo todo o topo*/
        display: flex; /*transformando a caixa flexivel*/
        align-items: center;/*alinhando os itens ao centro*/
        justify-content: center;/*deixando nossa caixa totalmente ao centro*/
        opacity: 0;/*fica invisivel entretanto ocupa espaço*/
        visibility: hidden;/*não ocupa mais espaço nenhum*/
    }
   
.modal.ligado/*caixa de dialogo depois de ser ativada alterando opacity e visibility*/
{
    opacity: 1;
    visibility: visible;
}

#formulario{

    background-color: var(--dark-grey);

    width: 800px;
    height:680px;
}
#cabecalho-proposta{

    display: grid;
    grid-template-columns: 20fr 1fr;
    align-items: center;
}

#formulario a{

    color: black;

    font-weight: 100;
    

    font-size: 25px;
}

#formulario h2{

    text-align: center;
    font-size: 30px;

    margin-top: 2rem;
}

#formulario label{

    display: block;
    
    font-size: 20px;

    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#formulario input{
    font-size: 18px;
    display: block;
    border: none;
    border-radius: 5px;
    width: 95%;
    padding: 5px ;
    background-color: var(--light-grey);
}

#formulario textarea{

    font-size: 18px;
    width: 95%;

    background-color: var(--light-grey);
}

#confirmar{

    background-color: var(--light-grey);

    width: 100px;
    height: 50px;
    margin-left: 20px;
    opacity: 0.6;
    
    margin-bottom: 5rem;
}

#confirmar:hover{

    cursor: pointer;
    opacity: 1;
}