*{
    text-decoration: none;
    padding: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

/*header---------------------------------------------*/ 

body {

    background-color: #bdbcc1;
}
header{
    overflow: hidden;
}

header #logo{
    background-color:  #5d6164;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;

    color: white;
    font-size: 22px;

    padding: 20px 40px


}

header #search{
    display: flex;

    height: 30px;

    border: none;
    margin-right: 50px;
}

header #search input{

    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

#first-buttons{

    background-color: #333333;
    
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#first-buttons a{
    
    color: white;

    font-size: 18px;
    font-weight: bold;

   
}

.body{
    background-color: #bdbcc1;
}

.body img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.body h1{
    text-align: center;
    color:#333;
    margin-top: 10px;
}

.body p {
    text-align: center;
    color: #333;
    margin: 20px;
}
